body{
 background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: Tahoma;
}

h1{
  text-align: center;
  font-weight: 500;
  padding-top: 25px
}
p[id="description"]{
  text-align: center
}
fieldset{
  border: none;
  padding: 3rem 2rem;
  margin: 5rem 40rem;
  background: linear-gradient(
      115deg,
      rgba(78, 78, 190, 0.7),
      rgba(78, 78, 190, 0.7)
    );

    min-width: 400px;
    min-height: 400px;
}
input, select,textarea{
  margin-top: .2rem;
  margin-bottom: .8rem;
  border-radius: 3px;
  border: none;


}
.block{
  display: block;
}
input[id="submit"]{
  display: block;
  margin: 1.0em auto;
  width: 80%;
  color:white;
  background-color: green;
  border: none;
  border-radius: 3px;
}
input[type="checkbox"]{
margin: 8px 0;
}
input[type="radio"]{
  margin: 8px 0;
}
span{
  font-size: 12px;
}
